<!doctype html>

<html>

<body>

	<link rel="stylesheet" href="index.css">
  
  {{> facebook}}
<script src="facebookJS.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://static.thenounproject.com/png/384823-200.png" alt="Avatar" class="avatar">
      </div>

      <!-- Login Form -->
      <form>
        <input type="text" id="email" class="fadeIn second" name="email" placeholder="email">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="login" formaction="home.html">
      </form>

      <p class="facebookLogin">
        Please login through Facebook
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>   
      </p>




      <div id="formFooter">
        <a class="underlineHover" href="createaccount.html">Create Account </a>

      </div>

    </div>
  </div>

</body>
</html>
